<ion-view view-title="Questions fréquemment posées" hide-back-button="true" enable-menu-with-back-views="false" hide-nav-bar="false" cache-view="true">
<ion-nav-title>Questions fréquemment posées</ion-nav-title>
  <ion-content class="faq">
  <br/>

    <div class="button bar">
        <a class="button button-block button-energized" href="#/app/video">Revoir la vidéo d'introduction</a>
    </div>

    <br/>
    <br/>
     
 <div class="item item-text-wrap">
   <h2>Baztille c'est quoi ?</h2>

    <p>
        Baztille est un mouvement de citoyens pour réinventer la démocratie.
    </p>

    <p>
        Avec Baztille, vous prenez chaque jour une décision pour votre pays, votre région ou votre ville.
    </p>

    <p>
        Ensuite les élus Baztille appliquent VOS décisions. Ne laissez plus personne décider à votre place : reprenez le pouvoir !  
    </p>
   
   </div>

  <div class="item item-text-wrap">
   <h2>Quelles sont les 3 règles d'or du mouvement ?</h2>

    <p>
        1. Toutes les décisions qui concernent Baztille sont prises par l'ensemble des membres (c'est à dire vous !) à l'aide d'un vote sur le site ou l'application mobile Baztille. Il y a 1 vote par jour (1 par semaine pendant la béta).
    </p>

    <p>
        2. Les décisions peuvent concerner n'importe quel sujet : des prises de position comme l'organisation interne de Baztille. 
    </p>

    <p>
        3. Personne ne peut prendre de décision au nom de Baztille qui rentre en contradiction avec une décision votée par les membres.
    </p>

   
   </div>

  <div class="item item-text-wrap">
   <h2>Est-ce un parti politique ?</h2>

    <p>
        Oui : Baztille présente des candidats aux élections comme n'importe quel autre parti.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Pourquoi Baztille est différent des autres partis politiques ?</h2>
   
    <p>
        Baztille n'a pas d'idéologie, est simple d'accès et vous pouvez rejoindre Baztille quelque soit vos idées.
    </p>   

    <p>
        Les élus Baztille sont uniquement là pour relayer VOS décisions, que vous exprimez à l'aide du site et de l'application mobile Baztille.
    </p>   

   
  </div>

  <div class="item item-text-wrap">
   <h2>Que défendez-vous ? Quelles sont vos idées ?</h2>
   
    <p>
        Toutes les positions défendues par Baztille sont des solutions que vous proposez, débattez et votez avec les autres membres du mouvement.
    </p>   
    <p>
        Ces positions sont regroupées dans la section "questions votées" de l'application.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Etes-vous de droite ou de gauche ?</h2>
   
    <p>
        Cette question n'a pas de sens : Baztille regroupe des citoyens de toutes opinions, ce qui peut parfois aboutir au vote de positions dites "de droite", parfois de positions dites "de gauche".
    </p>   
    <p>
        Dans tous les cas, si vous pensez que les votes ne représentent pas assez vos idées, nous vous encourageons à recruter de nouveaux membres qui vont venir défendre vos idées avec vous !
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Qu'est-ce qui oblige les élus Baztille à respecter nos votes ?</h2>
   
    <p>
        En théorie, rien, car la constitution nous interdit de révoquer un élu qui ne respecte pas ses promesses.
    </p>   

    <p>
        En pratique, les élus Baztille ont fait une seule et unique promesse à leurs électeurs: celle de respecter les votes des membres de Baztille. Comparé aux autres élus, il est donc beaucoup plus difficile aux élus Baztille "d'oublier" une promesse alors qu'il n'en ont fait qu'une seule.
    </p>   

    <p>
        En conclusion, comme pour tous les nouveaux services, il y aura parfois des ratés, mais nous sommes convaincu que VOUS choisirez des candidats qui vous ressemblent et qui respecteront leur unique promesse dans la quasi totalité des cas.
    </p>   
   
  </div>


  <div class="item item-text-wrap">
   <h2>Pourquoi un seul vote par jour ?</h2>

    <p>
        Un seul vote par jour, c'est déjà beaucoup pour que vous puissiez donner votre avis sur les sujets les plus importants qui concernent votre ville, votre région et votre pays.
    </p>   
    <p>
        Si nous votions encore plus souvent, certains d'entre vous ne pourraient pas suivre et seraient découragés.
    </p>   
    <p>
        Nous voulons que tout le monde participe, donc il n'y a qu'un seul vote par jour.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Je n'ai pas de temps à consacrer à Baztille</h2>
   
    <p>
        Baztille a été conçu pour vous permettre, chaque jour, de vous présenter en quelques minutes les principaux arguments aux questions posées.
    </p>   
    <p>
        Ainsi, même si vous n'avez que quelques minutes par jour, vous pouvez pleinement participer au mouvement et faire peser vos idées.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Qui dirige Baztille ?</h2>
   
    <p>
        Baztille n'est pas véritablement "dirigé" puisque les idées du mouvement sont celles votées par les membres.
    </p>   
    <p>
        Par nécessité, Baztille dispose malgré tout d'une organisation dont les membres sont élus et renvoyés de la même manière que pour tout le reste: avec un vote de l'application.
    </p>   
   
  </div>
  
  <div class="item item-text-wrap">
   <h2>Qui a créé Baztille ?</h2>
   
    <p>
        Les illuminatis.
    </p>   
    <p>
        Plus sérieusement, nous sommes issus du monde de l'entreprenariat web, nous n'avons jamais été élus, et nos engagements politiques n'ont jamais été très loin car nous pensons que la structure des partis politiques traditionnels n'est plus adapté à l'époque où nous vivons.
    </p>   
    <p>
        Aucun parti ni aucune organisation politique existante n'est derrière Baztille (ni agence de pub, ni entreprise, ni rien du tout).
    </p>   
    <p>
      <div class="row">
        <div class="col">Concept & développement</div>
        <div class="col col-67"><b>Grégory Isabelli</b></div>
      </div>
      <div class="row">
        <div class="col">Direction technique & développement</div>
        <div class="col col-67"><b>Thibaut Villemont</b></div>
      </div>
      <div class="row">
        <div class="col">Direction artistique</div>
        <div class="col col-67"><b>Thomas Boureau</b></div>
      </div>


    </p>
   
  </div>  

  <div class="item item-text-wrap">
   <h2>Qui sont les candidats Baztille ?</h2>
   
    <p>
        Les candidats sont désignés le moment venu par un vote des citoyens concernés sur chaque territoire, toujours à l'aide de l'application.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>De quoi ai-je besoin pour participer à Baztille ?</h2>
   
    <p>
        1. D'un smartphone iOS (Apple) ou Android, ou bien tout simplement d'un navigateur internet.
    </p>   
    <p>
        2. De quelques minutes par jour :)
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Où puis-je accéder à l'application ?</h2>
   
    <p>
        Le service et les applications Baztille sont disponibles :
        <ul>
            <li>
                <a href="https://play.google.com/store/apps/details?id=org.baztille.app&hl=fr">Télécharger l'application pour smartphones Android</a>
            </li>
            <li>
                <a href="http://app.baztille.org">Pour toutes les autres plateformes.</a>
            </li>
            <li>
                Note : l'application sera très prochainement disponible sur l'App Store.
            </li>

        </ul>
    </p>      
   
  </div>

  <div class="item item-text-wrap">
   <h2>Qui propose les questions soumises au vote ?</h2>
   
    <p>
        N'importe qui peut proposer une question dans la section "questions proposées".
    </p>   
    <p>
        Tous les membres peuvent ensuite voter pour les questions qui les intéressent le plus.
    </p>   
    <p>
        Chaque vendredi à 14h, la question qui a intéressé le plus de membres est soumise au vote.
    </p>   
    <p>
        Si au bout de 4 tentatives une question n'a pas été soumise au vote, elle est effacée.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Puis-je voter pour plusieurs réponses à une question ?</h2>
   
    <p>
        Si plusieurs réponses vous conviennent, vous pouvez parfaitement voter pour plusieurs d'entres elles. C'est même recommandé !
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Qu'est ce qu'une réponse validée par la communauté ?</h2>
   
    <p>
        Après un vote, la réponse qui a remporté le plus de vote est validée par la communauté et devient une position officielle du mouvement.
    </p>   
    <p>
        Si une ou plusieurs autres réponses ont récolté plus de 50% des votes des participants, elles sont également validées.
    </p>   
    <p>
        Attention, en cas de contradiction entre deux réponses, c'est toujours celle qui a récolté le plus de votes qui est prioritaire.
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Pourquoi les réponses et les arguments sont-ils limités en taille ?</h2>
   
    <p>
        Certains d'entre vous ont peu de temps à consacrer à Baztille, et pourtant nous souhaitons que tout le monde prenne part aux décisions.
    </p>   
    <p>
        C'est pourquoi vous devez aller à l'essentiel et que la taille des contributions est limitée (en nombre de caractères).
    </p>   
    <p>
        N'oubliez pas que si vous voulez argumenter vous pouvez proposer autant d'arguments et de sous-arguments que vous le souhaitez !
    </p>   
   
  </div>

  <div class="item item-text-wrap">
   <h2>Est-ce que les applications Baztille sont open source ?</h2>
   
    <p>
        Evidemment. Le code source sera rendu public peu après le lancement des applications.
    </p>   
   
  </div>
  
  <div class="item item-text-wrap">
   <h2>Est-ce que vous pouvez truquer nos votes ?</h2>
   
    <p>
        Non.
    </p>   
    <p>
        Tout le monde peut vérifier quels sont les membres qui ont voté, et peut donc vérifier que son vote a bien été pris en compte. Baztille intègre par ailleurs un système équilibré entre anonymat du vote et possibilité de permettre à tout un chacun de vérifier qu'il n'y a pas de "faux électeurs".
    </p>   
    <p>
        Attention : pendant la "béta", nous ne vérifions PAS les identité des votants. C'est la raison pour laquelle les résultats des votes sont seulement indicatif. Dans un second temps, nous vérifierons les identités des membres de Baztille (comme le ferait n'importe quelle autre association) et les résultats des votes deviendrons officiels.
    </p>   
   
  </div>  
  

  </ion-content>
</ion-view>

