<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Mot de passe oublié</h1>
    <div class="buttons">
      <button class="button icon ion-android-close button-clear" ng-click="closeForgetPassord()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doForget()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Votre email</span>
          <input type="text" ng-model="forgetdata.email" placeholder="" required>
        </label>
        <label class="item no-b">
          <button class="button button-block button-dark t-upper t-b no-b" ion-track-tap="Action" ion-track-data="{ titre: 'mdp-oublie-form'}" type="submit">Récupérer mon mot de passe</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
