<ion-view view-title="Modifier mon mot de passe">
  <ion-content>

    <form ng-submit="doChangePassword()">
      <div class="list newpassword">
         <div class="item">
          <div style="text-align:center;font-size:90%;"><a href="http://app.baztille.org"><img id="splash_logo" src="img/logo_long_black.png" style="width:170px;margin:auto;" alt="Baztille"></img></a><br>
          <p>Veuillez saisir un nouveau mot de passe ci-dessous</p></div>
         </div>
        <label class="item item-input">
          <span class="input-label">Nouveau mot de passe</span>
          <input type="password" ng-model="changePasswordData.password" placeholder="" required>
        </label>
        <label class="item no-b">
          <button class="button button-block button-positive t-upper t-b no-b"type="submit">Changer mon mot de passe</button>
        </label>

      </div>
    </form>


  </ion-content>
</ion-view>
