<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{modal_title}}</h1>
    <div class="buttons">
      <button class="button icon ion-close-circled button-clear" ng-click="closeNewQuestion()"></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="card" ng-show="!updateQuestion">
      <div class="item item-text-wrap">
        <p>Proposez une nouvelle question à la communauté Baztille.</p>
      </div>
    </div>

    <div class="card" ng-show="updateQuestion">
      <div class="item item-text-wrap">
        <p>{{modal_subtitle}}</p>
      </div>
    </div>

    
    <form ng-submit="doPropose()" ng-show="!newQuestion.bConfirmation">
        <div class="list">
          <label class="item item-input noborder">
            <textarea type="text" placeholder="Votre question" ng-model="newQuestion.text" ng-change="inputChange()" style="min-height:100px;" maxlength="200"></textarea>
             
          </label>
          <label class="item nopad noborder">
            <div id="characters_count" ng-bind-html="ngCharacterCount">0</div>
          </label>

          <label class="item item-input item-select select-categoryfilter full">
            Thématique : 
            <select ng-options="filter as filter.name for filter in categories " ng-model="questionCategory" ng-change="updateNewQuestionCategory(questionCategory)"></select>
          </label>

          <label class="item noborder">
           
            <button class="button button-block button-energized"  ion-track-tap="Action" ion-track-data="{ titre: 'proposer-question-form'}" type="submit">Proposer</button>
          </label>


        </div>
    </form>

    <form ng-submit="confirmNewQuestion()" ng-show="newQuestion.bConfirmation">
        <div class="list">
          <label class="item assertive">
            <b>Merci de confirmer votre contribution</b>
            <br/><br/>
            <p ng-bind-html="newQuestion.text_br" style="white-space:normal;">
            </p>
          </label>
          <label class="item noborder nopad">
            <button class="button button-block button-energized"  ion-track-tap="Action" ion-track-data="{ titre: 'proposer-question-form-confirm'}" type="submit">Confirmer et publier</button>
          </label>
          <label class="item noborder nopad"  ng-show="newQuestion.bConfirmation">
        <button class="button button-block"  ion-track-tap="Action" ion-track-data="{ titre: 'proposer-question-form-corriger'}" ng-click="fixNewQuestion()">Corriger</button>
      </label>
        </div>
    </form>

      

  
  </ion-content>
</ion-modal-view>
