<ion-view view-title="{{news.title}}">
<ion-nav-title>{{news.title}}</ion-nav-title>
  <ion-content class="headlines">
    <div class="news-unique">
   
      <div class=" text-left">
      	<small><img src="img/back-in-time.svg" width="10"> {{date}}</small>
      	<h1>{{news.title}}</h1>
		    <div ng-bind-html="news.content"></div>       
      </div>
      <div class="share-box">
        
        <br/>

        <div class="for-native">

          <button class="button for-native button-energized ion-android-share-alt" ng-click="shareNative(news.title, news.canonicalUrl)">Partager l'actualité</button>

        </div>
        
        <div class="list for-browser share-box">

          <div class="item item-input">
            <a href="#" class="ion-social-facebook button button-energized" socialshare socialshare-provider="facebook"
              socialshare-text="{{news.title}}"
              socialshare-url="{{news.canonicalUrl}}">
            </a>
            <a href="#" class="ion-social-twitter button button-energized" socialshare socialshare-provider="twitter"
              socialshare-text="{{news.title}}"
              socialshare-hashtags="Baztille"
              socialshare-url="{{news.canonicalUrl}}">
            </a>
            <a href="#" class="ion-social-reddit button button-energized" socialshare socialshare-provider="reddit"
              socialshare-text="{{news.title}}"
              socialshare-url="{{news.canonicalUrl}}">
            </a>
            <a href="#" class="ion-social-tumblr button button-energized" socialshare socialshare-provider="tumblr"
              socialshare-text="{{news.title}}"
              socialshare-url="{{news.canonicalUrl}}">
            </a>
          </div>
          <br><br>
        </div>
      </div>

    </div>

  </ion-content>

  <ion-footer-bar align-title="center" class="bar-energized bar-footer-container">
      <div class="bar bar-footer bar-energized button" nav-transition="none" ui-sref="app.news" nav-clear menu-close>
          <div class="title">Retours aux articles</div>
      </div>
  </ion-footer-bar>

</ion-view>