<ion-view view-title="{{news.title}}">
<ion-nav-title>{{news.title}}</ion-nav-title>
  <ion-content class="headlines">
    <div class="news-unique">
   
      <div class=" text-left">
      	<small><img src="img/back-in-time.svg" width="10"> {{date}}</small>
      	<h1>{{news.title}}</h1>
		    <div ng-bind-html="news.content"></div>       
      </div>

    </div>

  </ion-content>

  <ion-footer-bar align-title="center" class="bar-energized bar-footer-container">
      <div class="bar bar-footer bar-energized button" nav-transition="none" ui-sref="app.news" nav-clear menu-close>
          <div class="title">Retours aux articles</div>
      </div>
  </ion-footer-bar>

</ion-view>

