<ion-modal-view>
   <ion-header-bar>
   <h1 class="title">Les points Baztille</h1>
        <button class="button icon ion-close-circled button-clear" ng-click="closePointsExplained()">
        </button>
    </ion-header-bar>
  <ion-content>

 <div class="item item-text-wrap">
    <p>
        Les points Baztille représentent votre popularité au sein du mouvement.
    </p>
    <p>
        Chaque action bénéfique pour le mouvement est récompensé par des points.
    </p>
 </div>

 <div class="item item-text-wrap">
   <h2>Comment gagner des points ?</h2>

   <div class="row">
        <div class="col">
             <b>+ 1 <span class="ion-ribbon-b"></span></b>
        </div>
        <div class="col col-75">
           <p>
                Chaque fois que quelqu'un vote pour une question, une réponse ou un argument que vous avez proposé.
           </p>
        </div>
  </div>

  <div class="row">
     <div class="col">
         <b>+ 3 <span class="ion-ribbon-b"></span></b>
     </div>
     <div class="col col-75">
           <p>
                Par journée où vous avez écrit au moins une question, une réponse ou un argument.
           </p>
     </div>

   </div>

  <div class="row" style="display:none">
     <div class="col">
         <b>+ 10 <span class="ion-ribbon-b"></span></b>
     </div>
     <div class="col col-75">
           <p>
                Lorsqu'une personne rejoint Baztille grâce à vous.
           </p>
     </div>

   </div>

  <div class="row">
     <div class="col">
         <b>+ 100 <span class="ion-ribbon-b"></span></b>
     </div>
     <div class="col col-75">
           <p>
                Lorsqu'une question que vous avez proposée a été sélectionnée pour être votée.
           </p>
     </div>

   </div>


  <div class="row">
     <div class="col">
         <b>+ 100 <span class="ion-ribbon-b"></span></b>
     </div>
     <div class="col col-75">
           <p>
                Lorsqu'une réponse que vous avez proposé a été approuvée par la communauté Baztille.
           </p>
     </div>

   </div>






 </div>


 

  </ion-content>
</ion-modal-view>

