<ion-view view-title="Baztille - Questions proposées" hide-back-button="true" hide-nav-bar="false" enable-menu-with-back-views="true" cache-view="true">
<ion-nav-title>Questions</ion-nav-title>

  <ion-nav-buttons side="right">
      <a class="button button-icon button-clear ion-android-search" ng-click="openSearch()"></a>
        <a ui-sref="compte.points" class="points" ng-if="currentUser!==undefined"><span >{{points}}</span></a>
          <a class="button button-icon button-clear ion-android-person" ng-if="currentUser!==undefined" ui-sref="compte.points"></a>
          <a class="button button-icon button-clear ion-android-person" ng-if="currentUser==undefined" ng-click="$root.notLogged()"></a>
          
  </ion-nav-buttons>

  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" nav-transition="none" menu-close ui-sref="question.questions" >
        En cours
      </a>
      <a class="tab-item active" nav-transition="none" menu-close ui-sref="question.proposed" >
        Proposées
      </a>
      <a class="tab-item" nav-transition="none" menu-close ui-sref="question.voted">
        Votées
      </a>
    </div>
</div>

  <ion-content>
  <br><br>
  
  <div class="needtoreload" ng-if="needToReload">
    <div class="inner-bar">Il semblerait que vous ayez un problème de connexion<br><br>
      <a class="button button-small button-light" ng-click="reloadQuestions()">Réessayer</a>
    </div>
  </div>

    <div class="expli-txt">
        <b>Choisissez la prochaine question</b> qui sera posée à la communauté Baztille.
      </div>
      

        <div class="questionFilterSort item item-croped">
          <div class="categoryfilter" ng-show="showCategoryfilter">
            <div class="label topic lower deleted button positive delete-filter" ng-show="showCategoryfilterDelete" ng-click="deleteCategoryFilter($event)">Enlever</div>
            <label class="item item-input item-select select-categoryfilter">
              Thèmatique :  
              <select ng-options="filter as filter.name for filter in categories " ng-model="questionCategory" ng-change="update(questionCategory,'category')"></select>

            </label>

          </div>

          <div class="categoryfilter" ng-show="showTopicsfilter">
            <div class="label topic lower deleted button positive delete-filter" ng-show="showTopicsfilterDelete" ng-click="deleteTopicsFilter($event)">Enlever</div>
            <label class="item item-input item-select select-topicfilter">
             
              <div class="label topic lower positive button inverted">{{topics}}</div>

            </label>

          </div>

          <div class="icon-right ion-chevron-down _ion-ios-settings-strong button button-clear trier-button" ng-click="openPopover($event)"><span>TRIER PAR {{questionFilter.name}}</span></div>
          <div class="icon-right ion-ios-settings-strong button button-clear filter-button filter-{{questionCategoryActive}}" ng-click="openCategoryFilter($event)"><span>FILTRER</span></div>
        </div>
        

    <ion-list class="questions">
      <ion-item ng-repeat="question in questions" ng-click="scrollSavePos();" ui-sref="question.single({ questionID: question.id })" >
      
      <div class="card">

        <div ng-class="$index==0 ? 'item item-text-wrap' : 'item item-text-wrap'">
          <div class="logoicon {{question.voted}}" ng-click="voteProposed('{{question.id}}', $event);" >
              <div class="logoicon_inner button">
                <div class="logoicon_vote_nb">{{question.vote}}</div>
                <div class="logoicon_vote">
                  <span ng-if="question.voted == 'voted'">a choisi</span>
                  <span ng-if="question.voted != 'voted'">choisir</span>
                </div>
              </div>
          </div>

          <div class="content"><div class="quest">{{question.title}}</div>
          <div class="label inverted positive button">{{question.argnbr}}
            <span ng-if="question.argnbr <= 1">réponse</span>
            <span ng-if="question.argnbr > 1">réponses</span>
          </div> 
          
          <div class="label white f-r button-icon ion-more positive button info-dot" ng-if="currentUser!==undefined" ng-click="actionQuest(question, $event);"></div>
          <div class="label white f-r positive button quest-new" ng-if="userLastSession<=question.date_proposed && userLastSession>0">NOUVEAU</div>
          <small style="display:none">{{question.attempts_status}}</small>
          </div>

        </div>

      </div>
      <div ng-if="$index==0"></div>
        
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      on-infinite="loadMore()"
      icon="none"
      distance="10%">
    </ion-infinite-scroll>
    
  <br>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-energized bar-footer-container">
    <div class="bar bar-footer bar-energized button" ng-if="currentUser!==undefined" ng-click="addNewQuestion();">
      <div class="title">Ajouter ma question</div>
    </div>

    <div class="bar bar-footer bar-energized button" ng-if="currentUser==undefined" ng-click="$root.notLogged()">
      <div class="title">Ajouter ma question</div>
    </div>
  </ion-footer-bar>
</ion-view>
