<ion-view view-title="{{pageTitle}}" >

  <ion-nav-buttons side="right">
        <a ui-sref="compte.points" class="points" ng-if="currentUser!==undefined"><span >{{points}}</span></a>
          <a class="button button-icon button-clear ion-ribbon-b" ng-if="currentUser!==undefined" ui-sref="compte.points"ui-sref="compte.points"></a>
          <a class="button button-icon button-clear ion-ribbon-b" ng-if="currentUser==undefined" ng-click="$root.notLogged()"></a>
        <a class="button button-icon button-clear ion-android-more-vertical" style="margin-left:10px;" ng-if="currentUser!==undefined" ng-click="popoverMenu.show($event);"></a>
  </ion-nav-buttons>

<ion-nav-title>{{question.date_prefix}}</ion-nav-title>
  
  <ion-content>
  
  <div class="question question-unique">
 
      <br/>

      <div class="item item-text-wrap nopad {{question.status}}">
        <small><span am-time-ago="{{question.date_proposed}}" am-preprocess="unix" style="opacity:0.4;">{{question.date_prefix}} {{question.date}}</span><br>

        <div class="label lower positive button inverted" ng-if="questionCategory.code!=1">{{questionCategory.name}}</div>
                
        </small>

        <div class="vote-h1">
                  <div class="logoicon {{question.voted}}" style="margin:auto" ng-click="voteProposed('{{questionId}}', $event);" ng-show="question_vote_visible" ion-track-tap="Vote" ion-track-data="{ question: questionId}">
                      <div class="logoicon_inner button">
                        <div class="logoicon_vote_nb">{{question.vote}}</div>
                        <div class="logoicon_vote">
                          <span ng-if="question.voted == 'voted'">a choisi</span>
                          <span ng-if="question.voted != 'voted'">choisir</span>
                        </div>
                      </div>
                  </div>


        </div>
        <h1>{{question.title}}</h1>
              

      </div>
      
      <div class="action-question">

        <div class="for-native">
          
          <button class="button button-energized button-small icon-left" ng-click="newArg()" ng-show="new_answer_visible">Répondre</button>
          <button class="button button-grey t-upper button-small icon-left button-share" ng-click="shareNative(question.title, question.url)">Partager</button>
          <button class="button f-r button-light button-small button-icon ion-more icon-right button-more" ng-if="currentUser!==undefined" ng-click="actionQuest(question, $event);"><span>PLUS</span></button>

        </div>

        <div class="for-browser">
         
          <button class="button button-energized button-small icon-left" ng-click="newArg()" ng-show="new_answer_visible">Répondre</button>
          <button class="button button-grey t-upper button-small icon-left" ng-click="simpleShare();">Partager</button>
          <button class="button f-r button-light button-small button-icon ion-more icon-right button-more" ng-if="currentUser!==undefined" ng-click="actionQuest(question, $event);"><span>PLUS</span></button>

        </div>

     </div>
      <!--
      <ion-slide-box show-pager="true" style="display:none;">
      <ion-slide><div style="height:100px;background:red;">related questions</div></ion-slide>
      <ion-slide><div style="height:100px;background:yellow;">2</div></ion-slide>
    </ion-slide-box>-->

    </div>



     <p class="center padding-horizontal divider"><b>{{args.length}}</b> <span ng-if="args.length <= 1">Réponse</span><span ng-if="args.length > 1">Réponses</span></p>

        <div class="questionFilterSort item item-croped {{question.status}}" style="text-align:center;">
          <div class="icon-right ion-chevron-down button button-clear trier-button single" ng-click="openPopover($event)"><span>TRIER PAR {{questionFilter.name}}</span></div>
        </div>   
  
    <ion-list class="questions">
      <ion-item ng-repeat="arg in args" ng-click="scrollSavePos();" ui-sref="question.arg({ questionID: arg.question_id, argID: arg.id })">
          
          <div class="card {{arg.valid}}">
              
              <div class="item item-text-wrap">
                <div class="logoicon {{arg.voted}}" ng-click="voteArg('{{arg.id}}', $event);">
                  <div class="logoicon_inner button">
                    <div class="logoicon_vote_nb">{{arg.vote}}</div>
                    <div class="logoicon_vote">
                      <span ng-if="arg.voted == 'voted'">a voté</span>
                      <span ng-if="arg.voted != 'voted'">je vote</span>
                    </div>
                  </div>
                </div>
                     <div class="content">
                        <div class="quest">{{arg.text}}</div>
                          <div class="label positive button inverted">{{arg.argnbr}}
                            <span ng-if="arg.argnbr <= 1">argument</span>
                            <span ng-if="arg.argnbr > 1">arguments</span>
                          </div>
                          <div class="label white f-r positive button quest-new" ng-if="userLastSession<=arg.date">NOUVEAU</div>  
                          <div class="label arg_valid_footer">
                            {{arg.arg_footer}}
                          </div>
                      </div>
              </div>

          </div>
        
      </ion-item>
    </ion-list>
    
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-energized bar-footer-container" ng-show="new_answer_visible" >
    <div class="bar bar-footer bar-energized button"  ion-track-tap="Action" ion-track-data="{ titre: 'proposer-nouvelle-reponse-open'}" ng-click="newArg()">
      <div class="title">Proposer une nouvelle réponse</div>
    </div>
  </ion-footer-bar>
  
</ion-view>
