<ion-view view-title="Baztille - Questions en cours" hide-back-button="true" enable-menu-with-back-views="false" hide-nav-bar="false"  cache-view="true">
<ion-nav-title>Questions</ion-nav-title>

  <ion-nav-buttons side="right">
      <a class="button button-icon button-clear ion-android-search" ng-click="openSearch()"></a>
        <a ui-sref="compte.points" class="points" ng-if="currentUser!==undefined"><span >{{points}}</span></a>
          <a class="button button-icon button-clear ion-android-person" ng-if="currentUser!==undefined" ui-sref="compte.points"></a>
          <a class="button button-icon button-clear ion-android-person" ng-if="currentUser==undefined" ng-click="$root.notLogged()"></a>
          
  </ion-nav-buttons>
  
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item active" nav-transition="none" menu-close ui-sref="question.questions" >
          En cours
        </a>
        <a class="tab-item" nav-transition="none" menu-close ui-sref="question.proposed" >
          Proposées
        </a>
        <a class="tab-item" nav-transition="none" menu-close ui-sref="question.voted" >
          Votées
        </a>
      </div>
  </div>
  
  <ion-content>
  <br><br>

  <div class="needtoreload" ng-if="needToReload">
    <div class="inner-bar">Il semblerait que vous ayez un problème de connexion<br><br>
      <a class="button button-small button-light" ng-click="reloadQuestions()">Réessayer</a>
    </div>
  </div>
  
    <div class="expli-txt" ng-show="showExplanationlink">
        {{explanation}}
        <br/><br/>
        <a class="button button-light no-min-h" ui-sref="question.proposed">{{explanationlink}}</a>
    </div>


<!-- ######################################################## -->        
<!-- #########   In case of a unique question ############### -->   

  <div ng-if="templateUnique == true">

    <div class="question question-unique question-encours">

        <br/>

        <div class="item item-text-wrap nopad">
                   <small style="opacity:0.4;"><span am-time-ago="{{question.date_proposed}}" am-preprocess="unix">{{question.date_prefix}} {{question.date}}</span>
          </small>
          <div class="topics"><div class="inner-topics">
          <div class="label lower positive button inverted topic" ui-sref="question.proposed({ categorie: questionCategory.code })" ng-if="questionCategory.code!=1">{{questionCategory.name}}</div><div ng-repeat="topic in question.topics" ui-sref="question.proposed({ topics: topic })" class="label topic lower positive button inverted">{{topic}}</div>
        </div></div>

 

          <h1>{{question.title}}</h1> 
          
          <div class="action-question">

            <div class="for-native">
              
              <button class="button button-energized button-small icon-left" ng-click="newArg()" ng-show="new_answer_visible">Répondre</button>
              <button class="button button-grey t-upper button-small icon-left button-share" ng-click="shareNative(question.title, question.url)">Partager</button>

            </div>

            <div class="for-browser">
             
              <button class="button button-energized button-small icon-left" ng-click="newArg()" ng-show="new_answer_visible">Répondre</button>
              <button class="button button-grey t-upper button-small icon-left" ng-click="simpleShare(question);">Partager</button>

            </div>

         </div>

        </div>

       
    </div>

     <p class="center padding-horizontal divider"><b>{{args.length}}</b> <span ng-if="args.length <= 1">Réponse</span><span ng-if="args.length > 1">Réponses</span> <!--<span class="label positive button">PROPOSER</span>--></p>
   
           <div class="questionFilterSort item item-croped {{question.status}}" style="text-align:center;">
          <div class="icon-right ion-chevron-down button button-clear trier-button single" ng-click="openPopover($event)"><span>TRIER PAR {{questionFilter.name}}</span></div>
        </div> 
  </div>
   
  
  <ion-list class="questions">
      <ion-item ng-repeat="arg in args" ng-click="scrollSavePos();" ui-sref="question.arg({ questionID: arg.question_id, argID: arg.id })">
          
          <div class="card {{arg.valid}}">
              
              <div class="item item-text-wrap">
                <div class="logoicon {{arg.voted}}" ng-click="voteArg('{{arg.id}}', $event);">
                  <div class="logoicon_inner button">
                    <div class="logoicon_vote_nb">{{arg.vote}}</div>
                    <div class="logoicon_vote">
                      <span ng-if="arg.voted == 'voted'">a voté</span>
                      <span ng-if="arg.voted != 'voted'">je vote</span>
                    </div>
                  </div>
                </div>
                     <div class="content">
                            <div class="quest">{{arg.text}}</div>
                            <div class="label positive button inverted">{{arg.argnbr}}
                              <span ng-if="arg.argnbr <= 1">argument</span>
                              <span ng-if="arg.argnbr > 1">arguments</span>
                            </div>
                            <div class="label white f-r button-icon ion-more positive button info-dot" ng-if="currentUser!==undefined" ng-click="actionArg(arg, $event);"></div>
                          <div class="label white f-r positive button quest-new" ng-if="userLastSession<=arg.date && userLastSession>0">NOUVEAU</div>  
                             <div class="label arg_valid_footer">
                                  {{arg.arg_footer}}
                             </div>
                    </div>

              

              </div>

          </div>
        
      </ion-item>
    </ion-list>

<!-- ######################################################## -->        
<!-- #########   In case of multiple questions ############### -->   


    <ion-list class="questions">
      <ion-item ng-repeat="question in questions" ng-click="scrollSavePos();" ui-sref="question.single({ questionID: question.id })" >
        <div class="card card-encours">
          <div class="item item-text-wrap">
            <div class="logoicon {{question.voted}}">
                <div class="logoicon_inner"></div>
            </div>
            <div class="content"><div class="quest">{{question.title}}</div>
            <div class="validated_answers" ng-bind-html="question.validated_answers">
            </div>

            <div class="label positive button">{{question.nbReponse}} <span ng-if="question.nbReponse <= 0">réponse</span><span ng-if="question.nbReponse > 1">réponses</span></div>
            
            <small><img src="img/back-in-time.svg" width="10"> Vote terminé <span am-time-ago="{{question.date_proposed}}" am-preprocess="unix"></span></small>
            </div>
          </div>
        </div>
        
      </ion-item>
    </ion-list>
    
  <br>


  </ion-content>
  
  
  <ion-footer-bar align-title="center" class="bar-energized bar-footer-container"  ng-show="see_future_questions_visible">
      <div class="bar bar-footer bar-energized button" nav-transition="none" ui-sref="question.proposed" nav-clear menu-close>
          <div class="title">Voir les futures questions</div>
      </div>
  </ion-footer-bar>
  
   <ion-footer-bar align-title="center" class="bar-energized bar-footer-container" ng-show="new_answer_visible" >
      <div class="bar bar-footer bar-energized button" ng-click="newArg()">
          <div class="title">Proposer une nouvelle réponse</div>
      </div>
  </ion-footer-bar>
  
</ion-view>
