<ion-view view-title="Questions rejetées" hide-back-button="true" hide-nav-bar="false" enable-menu-with-back-views="true" cache-view="true">
  <ion-content>

    <br><br>
    <div class="expli-txt">
        Ces questions n'ont pas intéressés suffisamment de monde pour être mise au vote.
    </div>


    <ion-list class="questions">
      <ion-item ng-repeat="question in questions" href="#/question/questions/{{question.id}}" >
      <div class="card card-voted">
      <div class="item item-text-wrap">
        <div class="logoicon {{question.voted}}">
            
            <div class="logoicon_inner"></div>
        </div>
        <div class="content"><div class="quest">{{question.title}}</div>
        <span style="display:none"class="badge badge-comment" style="display:{{question.argnbrdisplay}}"></span>
        
        <small>Question proposée <span am-time-ago="{{question.date_proposed}}" am-preprocess="unix"></span></small>
        </div>
      </div>
    </div>
        
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
