<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signalement</h1>
    <div class="buttons">
      <button class="button icon ion-android-close button-clear" ng-click="closeReport()"></button>
    </div>
  </ion-header-bar>
  <ion-content>

    <ion-list>
      <ion-item ng-click="sendReport(1)">
        <h2>Proposition diffamatoire et insultante</h2>
        Ceci n'a rien à faire sur Baztille
      </ion-item>
      <ion-item ng-click="sendReport(2)">
        <h2>Proposition sans intérêt</h2>
        Cela n'apporte rien au débat
      </ion-item>
      <ion-item ng-click="sendReport(3)">
        <h2>Spam</h2>
        Promotion abusive d'une idée ou d'un lien
      </ion-item>
      <ion-item ng-click="sendReport(4)">
        <h2>Doublon</h2>
        Cette proposition a déjà été publiée
      </ion-item>
      <ion-item ng-click="sendReport(5)">
        <h2>Très mauvaise rédaction</h2>
        La proposition est incompréhensible
      </ion-item>
    </ion-list>


  </ion-content>
</ion-modal-view>